:root {
    --colortextos: #00000067;

}

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    background-color: #a6da9b;
}

aside {
    background-color: #000000;
    background-color: rgb(154, 156, 116);
    /* border: 3px solid salmon; */
    min-width: 200px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 0px;
}

footer {
    background-color: #9ab0da;
    border: 2px solid rgb(0, 0, 0);
    height: 90px;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

h1 {
    background-color: #e79806;
    height: 50px;
    padding: 0px 10% 0px 10%;
    color: rgb(0, 0, 0);
    text-align: center;
}

table,
th,
td {
    border: 2px solid rgb(0, 0, 0);
    border-collapse: collapse;
    padding: 2px;
    text-align: center;
}


th {
    background-color: #1044d3;
    color: black;
}

main {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}

.menu {
    height: 60px;
    background-color: #ff0800; /*color de fondo principal*/
    padding-bottom: 0px
}

li:hover {
    background-color: #8577ad;
    /*color para el desplazamiento*/
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    height: 100%;
    margin: 2px;
}

.contenidoWeb {
    /* border:  1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3px;
    width: 75%;
}


.articulosAside {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: rgb(3, 3, 3);
    margin: 5px;
    border-radius: 30px;
    box-shadow: 0 0 6px 0 rgba(5, 5, 5, 0.8);
}

.menu a {
    font-size: 20px;
    color: rgb(12, 12, 12);
    text-decoration: none;
    padding: 0px 10px;
    line-height: 60px;
}
